<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Web Developer currently working in a full-stack Javascript. Experienced in Python, Scala, Java and C. Looking for opportunities in full-stack web development and Big data. Received a Bachelors of Science in Computer Science from Indiana University Bloomington with a specialization in Programming Languages. Interested in full-stack web development and big data management. Passionate about cutting edge mathematics and science as well as foundations of computer science.</p>
</div><!--//summary-->
</section><!--//section-->