<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Freelance Web Developer</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Self-Employed, New York City</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>-Building Full-stack consumer facing websites mostly for companies in the real-estate and hospitality industry.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineering Associate Instructor</h3>
                            <div class="time">2017- Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Hack Reactor, New York City</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>-Mentored students in vanilla JavaScript, Node, Angular, React, and various other libraries and frameworks.</p>
                        <p>-Created and presented various lectures on a variety of topics from binary and bitwise operations to the foundations of computer science.</p>
                        <p>-Contributed to codebase and curriculum by adding additional problems and challenges which aim to teach core data structure concepts and algorithmic techniques and patterns.</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Logistical Operations Assistant</h3>
                            <div class="time">2016 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Indiana University, Bloomington, Indiana</div>
                    </div><!--//meta-->
                    <div class="details">  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Computer Science Teaching Assistant and Tutor</h3>
                            <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Indiana University, Bloomington, Indiana</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>-TA for C-212 Introduction to Object-Oriented-Programming</p>
                        <p>-Tutor for C-211 Introduction to Computer Science</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->