<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>A small sample of the open-source public-facing applications I have worked on, as well a few solo projects and pieces of code I'm proud of.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://goo.gl/1yBbJe">FLIQ</a></span> - <span class="project-tagline">A learning engine-driven website delivering smart movie recommendations to users. As a user interacts with the site through either lightning rounds or searching for specific movies they like/dislike, FLIQ builds a profile for the user's preferences using roughly 2,000 data points. Using a custom statistical inference algorithm, a user can be shown smart suggestions for movies that may suit their preferences</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://goo.gl/f8gHFy" target="_blank">Bid-your-time</a></span> - <span class="project-tagline">A Marketplace for organizing and joining events with limited seating using a bidding system. Get the most out of your free time.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://goo.gl/pSRJnL" target="_blank">ShareIn</a></span> - 
                    <span class="project-tagline">A social network for renting useful items from others in your community. Add things you own and want to share to your profile, then others nearby can search for them. For a fee, people can borrow these items from you.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">A Scheme Compiler</a></span> - <span class="project-tagline">Scheme to Assembly x86-64 compiler in Scheme. Compiles a large amount of the Scheme language.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Space invaders on STM32 (ARM Cortex-M4)</span> - <span class="project-tagline">Connected and built Space Invader in an Embedded Systems Environment using LCD, Wii Nunchuck, and Speaker</span>
                </div><!--//item-->
            </section><!--//section-->